/* Variables */
:root{
    /* color */
    --primary: #3d7c99;
    --prime-hover: #4f8daa;
    --secondary: #a21447;
    --second-hover: #c72862;
    /* style */
    --shadow-on: box-shadow: 0px 0px 3px 2px #000000b0;
    --shadow-off: box-shadow: 0px 0px 0px 0px #00000081;
    --border-off: 0px; 
    }
    
    /* Buttons */
    
    .btn{
        box-shadow: var(--shadow-off); 
        border: var(--border-off);
        padding: 10px;
        color: #a8ccdd;
        font-weight: bold;
        font-size: large;
        color:#fff;
    }
    .btn:hover{
        box-shadow: var(--shadow-on);
    }
    .btn:active{
        box-shadow: var(--shadow-off);
        border: var(--border-off);
    }
    .save-btn, .update-btn {
        background-color: var(--primary);
    }
    .save-btn:hover, .update-btn:hover {
        background-color:var(--prime-hover); 
    }
    .save-btn:active, .update-btn:active {
        background-color: var(--prime-hover);   
    }

    .delete-btn {
        background-color: var(--secondary);
        width: 100%;
    }
    .delete-btn:hover {
        background-color: var(--second-hover); 
    }
    .delete-btn:active {
        background-color: var(--second-hover); 
    }

    /* homepage */

    h1, p, form, input, label, button{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    label {
        font-weight: bold;
    }
    .wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 20px;
        text-align: center;
    }
    .wrap-edit{
        display: flex;
        flex-direction:row;
        margin: 0 auto;
    }
    .postView{
        flex-grow: 2;
        max-width: 800px;
    }
    .postEdit{
        flex-grow: 1;
    }
    .post-list{
        max-width: 1920px;
        min-width: 20vw;
        border: #3d7c99 1px solid;
        padding: 10px;
        margin: 10px;
    }

    .posts{
        padding: 10px;
        margin: 10px;
        text-align: left;
    }

    /* add post */

    form{
        border: #3d7c99 1px solid;
        display:flex;
        flex-direction: column;
        margin:10px;
        padding: 10px;
        gap: 20px;
        justify-content: flex-start;
        text-align: left;
    }
/*  veiw post */

    .postView{
        border: #3d7c99 1px solid;
        background-color: #a8ccdd;
        margin:10px;
        padding: 10px;
        text-align: left;
        min-height: 20px;
    }
/* delete post */

.postDelete{
    border: #3d7c99 1px solid;
    background-color: #dda8b5;
    margin:10px;
    padding: 10px;
    text-align: center;
    min-height: 20px;
    font-weight: bold;
}